* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  
}

.App {
  font-family: serif;
  text-align: center;
}

.buttons  {
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: bold;

  
  gap: 10px;
}
